@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&display=swap");

/* base styles */
* {
  font-family: "Inter", sans-serif;
  color: #333;
}

/*
.fill-window {
  height: calc(100% -65px);
  position: absolute;
  width: 100%;
}*/

/*find job page*/

.findjob {
  height: 80vh;
  width: 100%;
}
.findjob .findjobleft{
  font-size:23pt;
  width: 30%;
  display: flex;
  flex-direction: column;
}


.findjob h1{
  width:100%;
  margin-left:50pt;
}

.findjob .Button {
  margin-top: 10%;
  margin-left: 50pt;
  color: white;
  background-color: #E27B7B;
  border-radius: 8px;
  height: 50pt;
  width: 50%;
  border: none;
}

.findjob .Button:hover{
  color: white;
  background-color: #CA1C1C !important;
}

/*dropdown menu*/
.rdn {
  width: 80%;
}
/*images*/
.images{
  height: auto;
  width: 100%;
}
/*Animation in findjob page*/
.amination {
  position: absolute;
  top: 0;
  right: 0;
  /*
  width: 100vw;
  height: 100vh;*/
  width:65vw;
  height:auto;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}


/*sign in sign up*/
.Card {
  text-align: center;
  background-color: #f0f0f0;
  height: 100%;
  min-width: 200pt;
  width: 45%;
}

.Form{
  font-size: 18pt;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-bottom: 20pt;
}
.Form .Button {
  font-size: 18pt;
  color: #C02121;
  background-color: white;
  border:none;
  border-radius: 6px;
  width: auto;
  margin-top: 30pt;
  height: 40pt;
  box-shadow: 0 0 3px black;
}

.Form .Button:hover {
  color: #c02121;
  background-color: #f3dede !important;
}
.Form a {
  margin-top: 20pt;
  font-size: 16pt;
} 
.center{
  width: 100%;
  display: flex;
  justify-content: center;
}
.sign {
  border: none;
  background-color: #e27b7b;
  margin: 3pt;
  width: 40%;
  color: white;
  border-radius: 3pt;
  font-size: 20pt;
  height: 26pt;
}
.sign::placeholder{
  color:rgba(255,255,255,0.6);
}
.line {
  width: calc(80% + 9pt);
}

/* navbar */
.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #f2f2f2;
  max-height: 40pt;
  z-index:999;
}
.navbar h1 {
  font-size: 30pt;
  color: #CA1C1C;
  cursor: pointer;
  font-size: 40px;
  /* color: rgb(165, 0, 0); */
}
.navbar .links {
  margin-left: auto;
  font-size: 15pt;
}
.navbar .links .toprightbotton {
  color: white;
  background-color: #e27b7b;
  border-radius: 8px;
}
.navbar .links .toprightbotton:hover {
  color: white;
  background-color: #ca1c1c !important;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #e27b7b;
}

/* footer */
.footer {
  bottom: 0;
  left: 0;
  background-color: #e27b7b;
  font-size: 12pt;
  width: 100%;
  height: 50pt;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer a {
  padding-top: 10pt;
  color: white;
  margin-left: 16px;
  text-decoration: none;
}

/* home search bar */

.content {
  max-width: 100%;
  max-height: 600px;
}


/* provider profile*/
.profile::placeholder{
  color:white;
}

#home-img {
  /* background-image: url("media/cosmetics.jpg");
  background-size: auto; */
  max-width: 100%;
  /* max-height: 100%; */
  height: 300px;
}

.service-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px 0;
}

.grid-item {
  text-align: center;
  background-position: center;
}

.service-icon {
  background-position: center;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* .content p {
  padding: 20px 0;
  font-size: 40px;
  color: rgb(165, 0, 0);
  text-transform: uppercase;
} */

.search-header {
  font-size: 40px;
  color: rgb(165, 0, 0);
  text-align: center;
}

.homepage-search {
  width: 100%;
}

.home-sb-container {
  background-color: pink;
  border-radius: 10px;
  padding: 50px 0;
  width: 100%;
  /* background-image: url("media/sb-flowers.jpg"); */
}

.home-sb-container p {
  font-size: 30px;
  color: rgb(165, 0, 0);
  text-align: center;
}

.sb-container-input {
  display: flex;
  justify-content: center;
}

.sb-button {
  position: relative;
  z-index: 100;
  background-color: rgb(165, 0, 0);
  color: white;
  border-radius: 8px;
  border: 1px solid rgb(165, 0, 0);
  padding: 0.5em 1.38em 0.5em;
  font-weight: 600;
  margin-left: 30px;
  cursor: pointer;
}

.sb-examples {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 30px;
  align-items: center;
}

#sb-examples-title {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-transform: none;
}
.btn-secondary {
  border-radius: 10px;
  border: 3px solid rgb(165, 0, 0);
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.sb-input {
  border: 2px solid rgb(165, 0, 0);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-position: contain;
  width: 100px;
}

* {
  box-sizing: border-box;
}

.home-img {
  width: 400px;
  background-position: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  /* padding: 20px 0; */
}

.column {
  flex: 33.33%;
  padding: 50px;
}

/* Hover Image Annimation Source Below
https://www.youtube.com/watch?v=exb2ab72Xhs */

.image {
  position: relative;
  width: 400px;
  width: 100%;
  /* padding: 80px; */
}

.image__img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  cursor: pointer;
  /* border-radius: 10px; */
}

/* .image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #009578;
} */

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.image__description {
  font-size: 2em;
  margin-top: 0.25em;
  color: white;
}

.container-wide {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #efbbbb80;
  padding: 15px 0;
}

.container-wide h1 {
  text-align: center;
  margin-bottom: 40px;
}

.ready-to-start-container {
  display: flex;
  margin: 0 30%;
}

.left-ready-to-start-container-border {
  display: flex;
  border-right: grey solid 1px;
}

.left-container {
  text-align: center;
  margin-right: 20px;
}

.right-ready-to-start-container {
  text-align: center;
  margin-left: 20px;
}
.customer-picture {
  width: 75%;
  align-self: center;
}

.provider-picture {
  width: 75%;
}

.footer-social {
  margin-bottom: 30px;
}

.footer-container {
  background-color: #e27b7b;
  /* max-width: 1200px; */
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  /* text-align: center; */
}

.footer-content-title {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-links {
  vertical-align: baseline;
}

.footer-content-container {
  display: flex;
  /* max-width: 1200px; */
  /* justify-content: center; */
  margin: 0 15%;
}

.footer-content-column {
  margin-right: 50px;
}

#dropdown-btn {
  margin: 1.5rem 1.5rem;
  background-color: #ff7675;
}
/* home search bar */

.content {
  max-width: 100%;
  max-height: 600px;
}

#home-img {
  /* background-image: url("media/cosmetics.jpg");
  background-size: auto; */
  max-width: 100%;
  /* max-height: 100%; */
  height: 300px;
}

.service-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px 0;
}

.grid-item {
  text-align: center;
  background-position: center;
}

.service-icon {
  background-position: center;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* .content p {
  padding: 20px 0;
  font-size: 40px;
  color: rgb(165, 0, 0);
  text-transform: uppercase;
} */

.search-header {
  font-size: 40px;
  color: rgb(165, 0, 0);
  text-align: center;
}

.homepage-search {
  width: 100%;
}

.home-sb-container {
  background-color: pink;
  border-radius: 10px;
  padding: 50px 0;
  width: 100%;
  /* background-image: url("media/sb-flowers.jpg"); */
}

.home-sb-container p {
  font-size: 30px;
  color: rgb(165, 0, 0);
  text-align: center;
}

.sb-container-input {
  display: flex;
  justify-content: center;
}

.sb-button {
  position: relative;
  z-index: 100;
  background-color: rgb(165, 0, 0);
  color: white;
  border-radius: 8px;
  border: 1px solid rgb(165, 0, 0);
  padding: 0.5em 1.38em 0.5em;
  font-weight: 600;
  margin-left: 30px;
  cursor: pointer;
}

.sb-examples {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 30px;
  align-items: center;
}

#sb-examples-title {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-transform: none;
}
.btn-secondary {
  border-radius: 10px;
  border: 3px solid rgb(165, 0, 0);
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.sb-input {
  border: 2px solid rgb(165, 0, 0);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-position: contain;
  width: 100px;
}

* {
  box-sizing: border-box;
}

.home-img {
  width: 400px;
  background-position: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  /* padding: 20px 0; */
}

.column {
  flex: 33.33%;
  padding: 50px;
}

/* Hover Image Annimation Source Below
https://www.youtube.com/watch?v=exb2ab72Xhs */

.image {
  position: relative;
  width: 400px;
  width: 100%;
  /* padding: 80px; */
}

.image__img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  cursor: pointer;
  /* border-radius: 10px; */
}

/* .image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #009578;
} */

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.image__description {
  font-size: 2em;
  margin-top: 0.25em;
  color: white;
}

.container-wide {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #efbbbb80;
  padding: 15px 0;
}

.container-wide h1 {
  text-align: center;
  margin-bottom: 40px;
}

.ready-to-start-container {
  display: flex;
  margin: 0 30%;
}

.left-ready-to-start-container-border {
  display: flex;
  border-right: grey solid 1px;
}

.left-container {
  text-align: center;
  margin-right: 20px;
}

.right-ready-to-start-container {
  text-align: center;
  margin-left: 20px;
}
.customer-picture {
  width: 75%;
  align-self: center;
}

.provider-picture {
  width: 75%;
}

.footer-social {
  margin-bottom: 30px;
}

.footer-container {
  background-color: #e27b7b;
  /* max-width: 1200px; */
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  /* text-align: center; */
}

.footer-content-title {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-links {
  vertical-align: baseline;
}

.footer-content-container {
  display: flex;
  /* max-width: 1200px; */
  /* justify-content: center; */
  margin: 0 15%;
}

.footer-content-column {
  margin-right: 50px;
}

.profileButton{
  font-size: 14pt;
  color: white;
  background-color: #e27b7b;
  border:none;
  border-radius: 3px;
  width: auto;
  margin-top: 30pt;
  height: 40pt;
  box-shadow: 0 0 3px black;
  margin-left: auto;
.profileInfoLine{
  border:none;
  background-color: #E27B7B;  
  height: 20pt;
  margin: 3pt;
  width: calc(80% + 9pt);
  color: white;
  border-radius: 3pt;
}
.profileCard{
  text-align: center;
  background-color: #f0f0f0;
  height:100%;
  min-width: 200pt;
  width: 40%;
}
.profileBasicInfo{
  border:none;
  background-color: #E27B7B;  
  height: 20pt;
  margin: 3pt;
  width:40%;
  color: white;
  border-radius: 3pt;
}
.profileBasicInfo::placeholder{
  color:white;
}

.profileInfoLine::placeholder{
  color:white;
}
.profilButton{
  color: #C02121;
  background-color: white;
  border:none;
  border-radius: 2px;
  width: 80pt;
  margin-top: 25pt;
  height: 20pt;
  box-shadow: 0 0 3px black;
}

.displayProfileLine{
  border:none;
  background-color: #E27B7B;  
  height: 20pt;
  margin: 3pt;
  width: calc(80% + 9pt);
  color: white;
  border-radius: 3pt;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.displayProfile{
  border:0;
  background-color: #E27B7B;  
  height: 20pt;
  margin: 3pt;
  width:40%;
  color: white;
  border-radius: 3pt;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  position: relative;
  top:50%;
}

.profileCard {
  text-align: center;
  background-color: #f0f0f0;
  height: 100%;
  min-width: 200pt;
  width: 45%;
}

.Form{
  font-size: 18pt;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-bottom: 20pt;
}
.profile{
  display:'flex';
  justify-content: 'center'; 
  padding-top:'10pt'; 
  padding-bottom:'30pt'
}
.profile_images{
  height: 50%;
  width: 50%;
}
.profileBasicInfo {
  border: none;
  background-color: #e27b7b;
  margin: 3pt;
  width: 40%;
  color: white;
  border-radius: 3pt;
  font-size: 16pt;
  height: 26pt;
}
.sign::placeholder{
  color:rgba(255,255,255,0.6);
}
.profileInfoLine {
  border: none;
  background-color: #e27b7b;
  margin: 3pt;
  color: white;
  border-radius: 3pt;
  font-size: 16pt;
  height: 26pt;
  width: calc(80% + 9pt);
}